In [1]:
import pandas as pd
import requests
import json

### Usando o requests para usar a api de sentimento

In [8]:
#url = "http://127.0.0.1:5001/sentimento/meu irmao está me devendo dinheiro, ele é um bandido"
url = "http://127.0.0.1:5001/sentimento/hoje o céu está escuro"

auth = requests.auth.HTTPBasicAuth('julio', 'alura')

response = requests.get(url, auth=auth)
response.text

'polaridade: -0.15'

### Previsão de cotação de imovel para uma única instância ou varias

In [2]:
df1 = pd.DataFrame([[120,2001,2]], columns=['tamanho','ano','garagem'])
df1_json = df1.to_dict('index')
df1

   tamanho   ano  garagem
0      120  2001        2

In [3]:
df1_json

{0: {'tamanho': 120, 'ano': 2001, 'garagem': 2}}

In [4]:
df2 = pd.DataFrame([[120,2001,2],[180,2010,4]], columns=['tamanho','ano','garagem'])
df2_json = df2.to_dict('index')
df2

   tamanho   ano  garagem
0      120  2001        2
1      180  2010        4

In [5]:
df2_json

{0: {'tamanho': 120, 'ano': 2001, 'garagem': 2},
 1: {'tamanho': 180, 'ano': 2010, 'garagem': 4}}

In [9]:
# Usando o requests para usar a api na cotação

url = "http://127.0.0.1:5000/cotacao/"

auth = requests.auth.HTTPBasicAuth('lucas', '123')

response = requests.post(url, json=df2_json, auth=auth)
response.json()

{'preco': [191436.5350383143, 299630.1482817887]}